<template name="comment">
    <div name="{{permlink}}" class="animated out comment {{permlink}}">
        <a href="#!/@{{author}}" class="avatar">
            <img class="noradius" src="https://steemitimages.com/u/{{author}}/avatar/">
        </a>
        <div class="content">
            {{#if equals author currentAuthor.name}}
            <span class="ui red op mini ongame button noradius">OP</span>
            {{/if}}
            <a href="#!/@{{author}}" class="author">{{author}}</a>
            <div class="metadata">
                <div class="date">{{DisplayTimeCreated created}}</div>
            </div>
            <div class="extra">
                {{{remarkableFormatter body}}}
                <span class="left floated">
                    <i class="dollar sign icon"></i> {{displayPayout pending_payout_value total_payout_value
                    curator_payout_value}}</span>
                {{#if mainuser}}
                <span class="right floated">
                    {{#if equals net_votes 0}}
                    <i id="vote" class="heart outline icon"></i>{{net_votes}} likes
                    {{else}}
                    <i id="vote" class="heart icon"></i>{{net_votes}} likes
                    {{/if}}
                </span>
                {{else}}
                <span class="right floated" data-tooltip="You need a Steem account for this!">
                    {{#if equals net_votes 0}}
                    <i class="heart outline icon"></i>{{net_votes}} likes
                    {{else}}
                    <i class="heart icon"></i>{{net_votes}} likes
                    {{/if}}
                </span>
                {{/if}}
                {{>reply this isRootComment=false }}
            </div>
            <div class="comments">
                {{#transition in="fadeInUp" out="slideOutDown"}}
                {{#each currentCommentsSubcomments this}} {{>comment}} {{/each}}
                {{/transition}}
            </div>
        </div>
    </div>
</template>