<template name="twitchcard">
        <div class="example-2 card">
          <div class="wrapper" style="    min-height: 218px!important;background: url('{{box_art_url}}') no-repeat;
                                                            background-size: cover;
    border-radius: 10px!important;
    background-position: center;">

                <div style="position: absolute;
                    bottom: 22px;    width: 100%;
          padding-left: 44px;"><a style="   overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         -webkit-line-clamp: 2;
         max-height: 3.5em;width:100%;border-radius:0em;" class="ui mini label black">{{name}}</a></div>
          </div>
        </div>
      </template>