<template name="tournament">
    <div class="ui container " style="width: calc(100% - 280px);padding-right: 15px;">
        <div class="ui grid centered">
            <div class="ui row big search fluid inverted">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search for a Tournament...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <div class="ui grid centered">
            <div class="ui big row button ongame create">Create a Tournament</div>
        </div>
        <div class="ui grid centered">
            <div class="ui big row button ongame create">Join a Tournament</div>
        </div>
    </div>
</template>